<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

<%# <%= image_tag("NKillustrations_hands.png", class: "image-behind-components") %>
<section class="hero-section" style="margin-top:30px;">
  <div class="card-grid">
    <a class="card" href="/about">
      <div class="card__background" style="background-image: url(<%= asset_url("naomi.png") %>)"></div>
      <div class="card__content">
        <p class="card__category"> </p>
        <h3 class="card__heading" style="font-family: 'Sarabun', sans-serif;">About Me</h3>
      </div>
    </a>
    <a class="card" href="/products">
      <div class="card__background" style="background-image: url(<%= asset_url("mugs.jpeg") %>)"></div>
      <div class="card__content">
        <p class="card__category"> </p>
        <h3 class="card__heading" style="font-family: 'Sarabun', sans-serif;">Shop</h3>
      </div>
    </a>
    <a class="card" href="/bubble_mugs">
      <div class="card__background" style="background-image: url(<%= asset_url("hands.jpeg") %>)"></div>
      <div class="card__content">
        <p class="card__category"> </p>
        <h3 class="card__heading" style="font-family: 'Sarabun', sans-serif;">Bubble Mugs</h3>
      </div>
    </a>
    <a class="card" href="/contact">
      <div class="card__background" style="background-image: url(<%= asset_url("Alef.jpeg") %>)"></div>
      <div class="card__content">
        <p class="card__category"> </p>
        <h3 class="card__heading" style="font-family: 'Sarabun', sans-serif;">Contact Me</h3>
      </div>
    </a>
  </div>
</section>
