<%# <a href="/" style= " position: absolute;
  top: 20px; left: 20px;  font-size: 24px; margin-right: 5px;"><i class="fas fa-arrow-circle-left"></i></a> %>
<div>
<%# <%= image_tag("NKillustrations_hands.png", class: "image-behind-components") %>
<div>
     <nav class="container mt-4" style="margin-top:0px;">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="/" style="color: #7F472E;">Home</a>
    </li>
    <li class="nav-item" style="font-size: 20px;">❁</li>
    <li class="nav-item">
      <a class="nav-link" href="/about" style="color: #7F472E;">About</a>
    </li>
    <li class="nav-item" style="font-size: 20px;" >❁</li>
    <li class="nav-item">
      <a class="nav-link" href="/products" style="color: #7F472E;">Shop</a>
    </li>
    <li class="nav-item" style="font-size: 20px;">❁</li>
    <li class="nav-item">
      <a class="nav-link" href="/lessons" style="color: #7F472E;">Inspo</a>
    </li>
    <li class="nav-item" style="font-size: 20px;">❁</li>
    <li class="nav-item">
      <a class="nav-link" href="/contact" style="color: #7F472E;">Contact</a>
    </li>
  </ul>
</nav>
</div>
<ul class="cards">
  <% @products.each do |e| %>
    <%= link_to product_path(e) do %>
      <div class="card-trip">
        <% if e.photos.attached? %>
          <%= cl_image_tag e.photos.first.key %>
        <% else %>
          <img src="htt ps://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg">
        <% end %>
        <div class="card-trip-infos">
          <div>
            <h2><%= e.name %></h2>
          </div>
          <p class="card-trip-pricing">€<%= e.price %>/unit</p>
        </div>
      </div>
    <% end %>
  <% end %>
</ul>
