
<div class="container" style="margin:50px">
 <h3 style= "color: #7F472E">Hey Naomi! Here you can create a new Product:</h3>
    <%= simple_form_for @product do |f| %>
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.input :price %>
        <%= f.input :size %>
        <%= f.input :photos, as: :file, input_html: { multiple: true }%>
        <button><%= f.submit %></button>
    <% end %>
