
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<%# <a href="/products" style="position: absolute; top: 20px; left: 20px; font-size: 24px; margin-right: 5px;">
  <i class="fas fa-arrow-circle-left"></i> %>
<%# </a> %>


<div class="container" style="margin-top: 100px">
  <div class="row">
    <div class="col-md-6">
      <% if @product.photos.size == 1 %>
        <%= cl_image_tag @product.photos.first.key, style: "width:500px; height:500px;", class: "product-image" %>
      <% elsif @product.photos.size > 1 %>
        <!-- Slideshow container -->
        <div class="slideshow-container">
          <%= cl_image_tag @product.photos.first.key, width: 500, crop: :fill, class: "product-image slide" %>
          <div class="events-cards">
            <% @product.photos[1..-1].each do |photo| %>
              <%= cl_image_tag photo.key, style: "width:500px; height:500px;", class: "product-image slide" %>
            <% end %>
          </div>
          <!-- Previous and next buttons -->
          <a class="prev">&#10094;</a>
          <a class="next">&#10095;</a>
        </div>
        <!-- End of slideshow container -->
      <% else %>
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" class="product-image">
      <% end %>
    </div>
    <!-- ... (rest of your existing code) ... -->
    <div class="col-md-6">
      <div class="product-info" style="margin-top: 20px; margin-left: 30px;">
        <h1 style="color: #7F472E; margin-bottom: 20px; font-size: 28px; font-family: 'Sarabun', sans-serif;">
          <%= @product.name %>
        </h1>
        <h3 style="color: #7F472E; font-size: 20px; font-family: 'Sarabun', sans-serif;">
          <%= @product.description.gsub('.', '<br>').html_safe %>
        </h3>
        <h4 style="color: #7F472E; font-family: 'Sarabun', sans-serif;">
          <%= @product.size %>
        </h4>
        <h4 style="color: #7F472E; font-weight: light; font-family: 'Sarabun', sans-serif; margin-bottom: 20px;">
          €<%= @product.price %>/unit
        </h4>
        <a style="font-family: 'Sarabun', sans-serif;" href="https://api.whatsapp.com/send?phone=00351962620650&amp;text=I'm%20interested%20in%20buying%20the%20product:%0A%0AName:%20<%= @product.name %>%0ADescription:%20<%= @product.description %>%0APrice:%20<%= @product.price %>"
          target="_blank" style="display: inline-block; margin-top: 20px; color: #7F472E;">
          Buy on WhatsApp!
        </a>
      </div>
    </div>
  </div>
</div>
  </div>
</div>

<style>
  /* Add this CSS for slideshow */
  .slideshow-container {
    position: relative;
    max-width: 500px;
    margin: auto;
  }

  .product-image.slide {
    display: none;
  }

  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #7F472E;
    font-weight: bold;
    font-size: 24px;
    transition: 0.6s ease;
    border-radius: 5px;
    user-select: none;
  }

  .next {
    right: 0;
  }

  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
</style>

<script>
  // Add this script for slideshow functionality
  var slideIndex = 0;
  showSlides();

  function showSlides() {
    var slides = document.getElementsByClassName("slide");
    for (var i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    slideIndex++;
    if (slideIndex > slides.length) {
      slideIndex = 1;
    }
    slides[slideIndex - 1].style.display = "block";
    setTimeout(showSlides, 3000); // Change slide every 3 seconds
  }

  // Optional: Add functionality for previous and next buttons
  $(".prev").on("click", function () {
    slideIndex -= 2;
    showSlides();
  });

  $(".next").on("click", function () {
    showSlides();
  });
</script>
