<a href="/products" style= " position: absolute;
  top: 20px; left: 20px;  font-size: 24px; margin-right: 5px;"><i class="fas fa-arrow-circle-left"></i></a>
 <%= image_tag("NKillustrations_hands.png", class: "image-behind-components") %>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <% if @product.photos.size == 1 %>
        <%= cl_image_tag @product.photos.first.key, width: 500, crop: :fill, class: "product-image" %>
      <% elsif @product.photos.size > 1 %>
        <div class="d-flex form_book mb-4">
          <%= cl_image_tag @product.photos.first.key, width: 500, crop: :fill, class: "product-image" %>
          <div class="events-cards">
            <% @product.photos[1..-1].each do |photo| %>
              <%= cl_image_tag photo.key, style: "width:50%; height:50%;", class: "product-image" %>
            <% end %>
          </div>
        </div>
      <% else %>
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg">
      <% end %>
    </div>
    <div class="col-md-6">
      <h1 style="color: #7F472E; margin-bottom:20px"><%= @product.name %></h1>
      <h3 style="color: #7F472E"><%= @product.description %></h3>
      <h4 style="color: #7F472E"><%= @product.size%></h4>
      <h4 style="color: #7F472E; text-weight:light">€<%= @product.price %></h4>

    </div>
    <div class="container-fluid">
      <div class="delete-button">
        <%= link_to product_path(@product), method: :delete, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
          <i class="fas fa-times"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>
